body {
    background-color: orange;
}
#road {
    border-bottom: 7px dashed black;
}
#runner {
    background: url("../images/animation.png");
    width:100%;
    height: 330px;
    animation: walk 2s steps(12) infinite,
                forwards 5s linear infinite;
}
@keyframes walk {
    0%{
        background-position: 0px;
    }
    100% {
        background-position: 3000px;
    }
}
@keyframes forward{
    0%{
        transform: translate(-100px);
    }
    100%{
        transform: translate(1200px);
    }
}

#road1 {
    border-bottom: 7px dashed black;
}
#runner1 {
    background: url("../images/animation\ -\ Copy.png");
    width:100%;
    height: 330px;
    animation: walk1 2s steps(12) infinite,
                backwards 5s linear infinite;
}
@keyframes walk1 {
    0%{
        background-position: 3000px;
    }
    100% {
        background-position: 0px;
    }
}
@keyframes backward{
    0%{
        transform: translate(-100px);
    }
    100%{
        transform: translate(1200px);
    }
}

